html {
  min-height: 80%;
  margin: 0 auto;
  background: "#eeeeee";
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: rgb(244, 240, 255);
  background: linear-gradient(
    103deg,
    rgba(244, 240, 255, 1) 0%,
    rgba(238, 239, 241, 1) 100%
  ) !important;
}

.tab-form {
  width: 100%;
}

.date-picker {
  padding: 8px;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: white;
}
