:root {
  --main-bg-color: #000000;
  --bullet-bg-color: #d5f8b6;
  --bullet-color: #78d624;
  --main-color: #ffffff;
  --active-menu-color: rgb(41, 80, 7);
}

.active {
  background-color: var(--bullet-bg-color);
  padding: 0 5px;
  width: 100%;
}
.active button {
  color: var(--active-menu-color);
}

/* .active::before {
  content: "\2022";
  color: var(--active-menu-color);
  font-size: 1.5em;
  position: relative;
  left: -4px;
  top: 3px;
} */
