:root {
  --main-bg-color: #000000;
  --bullet-bg-color: #d5f8b6;
  --bullet-color: #78d624;
  --main-color: #ffffff;
  --active-menu-color: rgb(41, 80, 7);
}

.active {
  background-color: var(--bullet-bg-color);
}

.active button {
  color: var(--active-menu-color);
}

.active::before {
  content: "\2022";
  color: var(--bullet-color);
  font-size: 1.5em;
  position: absolute;
  left: 12px;
}
