.rct-item {
	cursor: ew-resize !important;
	border: none !important;
	background: transparent !important;
	min-width: 98px !important;
}

.react-calendar-timeline .rct-calendar-header {
	border: 1px solid var(--lead_cards_bg) !important;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
	border: none !important;
}

.react-calendar-timeline .rct-header-root {
	height: 50px !important;
	background-color: var(--active-menu-color) !important;
}
.react-datepicker {
	background-color: var(--lead_cards_bg);
}
.react-datepicker__day:hover {
	background-color: var(--meeting_bg_light);
}

.react-datepicker-wrapper input[type="text"] {
	background-color: var(--primary_bg);
	cursor: pointer;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd,
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
	border-left: 1px solid var(--calendar_border) !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
	background: transparent !important;
}
